@use 'colors' as *;

*::after,
*::before,
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
}
html {
	font-size: 62.5%;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

// =========================
// NAVIGATION
// =========================
nav {
	ul {
		width: 100%;
		list-style-type: none;
		display: inline-block;
		display: flex;
		justify-content: end;
		align-items: center;
		margin-top: 5%;
		padding: 1em 1em 0 0;
		text-align: right;
	}
	.link {
		padding: 0.8em;
		font-size: 1.2rem;
		text-decoration: none;
		color: $desaturated-blue;
	}
	.logo {
		margin-right: auto;
		margin-left: 5%;
		width: 20%;
	}
}

// =====================
// HEADER
// ====================

header {
	.img1 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10em;
		width: 100%;
	}
	.header {
		padding: 2em 2em 2em 2em;
		text-align: center;
		font-family: 'Open Sans', sans-serif;

		&__title {
			font-size: 2.5rem;
			font-weight: bold;
		}

		&__text {
			font-size: 1.5rem;
			padding: 1em;
		}
		&__form {
			display: inline;
		}
		&__input {
			width: 95%;
			font-size: 1.6rem;
			padding: 0.5em 0 0.5em 0.5em;
			margin-bottom: 1em;
		}

		&__btn {
			width: 100%;
			padding: 0.6em;
			border: 1px solid transparent;
			border-radius: 0.3em;
			background-color: $bright-blue;
			color: $light-grayish-blue;
			box-shadow: 1px 1px 5px $bright-blue;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: $bright-blue-hover;
			}
		}
	}
}
// ==================
// TEAM
// ==================

Section {
	.bg-img {
		position: relative; 
		
	}

	.ilustration2 {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.team {
		&__box {
			position: relative;
			padding-top: 5em;
			margin: 2em 2.5em 2em 2.5em;
			font-family: 'Open Sans', sans-serif;
		}
		&__title {
			text-align: center;
			font-size: 1.6em;
			font-weight: bold;
		}
		&__text {
			padding-top: 1.5em;
			text-align: left;
			font-size: 1.4rem;
			color: $desaturated-blue;
		}
		&__text2 {
			padding: 1em 0 2em 0;
			text-align: left;
			font-size: 1.4em;
			color: $desaturated-blue;
		}
		&__link {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			color: $moderate-cyan;
			text-decoration: none;
			border-bottom: 1px solid $moderate-cyan;
			padding-bottom: 0.4em;
			font-size: 1.3rem;
		}
		&__arrow {
			vertical-align: middle;
			width: 1.5em;
		}
	}

	.bg-img::before {
		content: "";
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		background-image: url('../images/bg-curve-mobile.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top;
		padding-top: 20rem;
		z-index: -1;
	}

	.opinion {
		margin: 2.5em;
		background-color: #fff;
	}
}
// You have to add that image as a pseudo element positioned off that section, not try and make it a background on the section itself

// ==================
// MEDIA
// ==================

@media (min-width: 375px) {
	nav {
		.link {
			font-size: 1.4rem;
		}
	}
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	nav {
		.link {
			font-size: 2rem;
		}
	}
	header {
		.header {
			&__form {
				display: flex;
			}
			&__btn {
				width: 55%;
				margin-left: 1em;
				padding: 1em;
			}
			&__input {
				padding: 1em 2em 1em 1em;
				margin-bottom: 0;
			}
			&__text {
				font-size: 2rem;
			}
			&__title {
				font-size: 3rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	nav {
		.link {
			font-size: 3rem;
		}
	}
	header {
		.wrapper {
			display: flex;
			flex-direction: row-reverse;
		}

		.header {
			margin-top: 2%;
			width: 100%;
			text-align: left;

			&__logo {
				width: 15%;
			}

			&__img1 {
				width: 100%;
				margin-left: 0 auto;
			}
			&__title {
				font-size: 5rem;
			}
			&__text {
				font-size: 2.4rem;
			}
		}
	}
}
