@use 'colors' as *;
*::after,
*::before,
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.attribution {
	color: #fff;
	a {
		text-decoration: none;
		color: #09ef;
	}
}
// BDBAFA
// =========================
// NAVIGATION
// =========================
nav {
	ul {
		width: 100%;
		list-style-type: none;
		display: inline-block;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 5%;
		padding: 1em 1em 0 0;
		text-align: right;
	}
	.link {
		padding: 0.8em;
		font-size: 1.2rem;
		text-decoration: none;
		color: $desaturated-blue;
		cursor: pointer;

		&:hover {
			color: #c9bdff;
		}
	}
	.logo {
		margin-right: auto;
		margin-left: 5%;
		width: 20%;
		color: #bdbafa;
	}
}
// =====================
// HEADER
// ====================

.img1 {
	display: block;
	width: 90%;
	margin-top: 15em;
	margin-left: auto;
	margin-right: auto;
}
.header {
	padding: 2em 2em 2em 2em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;

	&__title {
		font-size: 2.5rem;
		font-weight: bold;
	}

	&__text {
		font-size: 1.5rem;
		padding: 1em 1em 1em 0;
	}
	&__form {
		display: inline;
	}
	&__input {
		width: 95%;
		font-size: 1.6rem;
		padding: 0.5em 0 0.5em 0.5em;
		margin-bottom: 1em;
	}

	&__btn {
		width: 95%;
		padding: 0.6em;
		border: 1px solid transparent;
		border-radius: 0.3em;
		background-color: $bright-blue;
		color: $light-grayish-blue;
		box-shadow: 1px 1px 5px $bright-blue;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: $bright-blue-hover;
		}
	}
}

// ==================
// TEAM
// ==================

.ilustration2 {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.team {
	position: relative;
	&__bg-curve {
		width: 100%;
		padding-top: 4em;
		margin-top: 10em;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('../images/bg-curve-mobile.svg');
			background-size: contain;
			background-position: top;
			background-repeat: no-repeat;
			z-index: -1;
		}
	}

	&__bg-color {
		padding-top: 7em;
		padding-bottom: 10em;
		background-color: #f9f8fe;
	}

	&__box {
		position: relative;
		padding-top: 5em;
		margin: 2em 2.5em 0 2.5em;
		font-family: 'Open Sans', sans-serif;
	}
	&__title {
		text-align: center;
		font-size: 1.6em;
		font-weight: bold;
	}
	&__text {
		padding-top: 1.5em;
		text-align: left;
		font-size: 1.4rem;
		color: $desaturated-blue;
	}
	&__text2 {
		padding: 1em 0 3em 0;
		text-align: left;
		font-size: 1.4em;
		color: $desaturated-blue;
	}
	&__link {
		display: inline-block;
		margin-left: 50%;
		transform: translateX(-50%);

		color: $moderate-cyan;
		text-decoration: none;
		border-bottom: 1px solid $moderate-cyan;
		padding-bottom: 0.4em;
		font-size: 1.2rem;
	}
	&__arrow {
		vertical-align: middle;
		width: 1.5em;
	}
}

.opinion {
	display: inline-block;
	background-color: #fff;
	margin: 7em 1.5em 0em 1.5em;
	padding: 2em 0.5em 2em 2em;
	border-radius: 8px;
	box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);

	&__avatar {
		border-radius: 50%;
		width: 3em;
		margin-top: 2em;
		vertical-align: -100%;
	}
	&__text {
		margin-top: 0.5em;
		line-height: 1.6em;
		font-size: 1.2rem;
	}
	&__autor {
		font-weight: bold;
		letter-spacing: 1px;
	}
	&__block-elements {
		display: inline-block;
		margin: 1.5em 1em 0;
	}
}

.article {
	background-color: red;
	height: 100%;
	width: 100%;
}

// ================
// SIGN IN
// ================

.sign {
	background-color: $desaturated-blue;
	display: flex;
	flex-direction: column;
	margin-top: 0;
	&__text-box {
		font-family: 'Raleway', sans-serif;
		text-align: center;
		color: #fff;
		padding: 6em 4em 2em 4em;
	}
	&__title {
		margin-bottom: 1em;
		font-size: 2rem;
	}
	&__text {
		font-size: 1.5em;
		line-height: 1.5em;
	}
	&__form {
		display: flex;
		flex-direction: column;
		margin: 0 6em 6em 6em;
	}
	&__input {
		padding: 0.8em 5em 0.9em 0.5em;
		width: 100%;
		border: none;

		&::placeholder {
			font-size: 1.2rem;
		}
	}
	&__button {
		margin-top: 0.7em;
		padding: 0.8em 0 0.8em 0;
		background-color: $bright-blue;
		border: 1px solid transparent;
		color: #fff;
		box-shadow: 0px 1px 5px rgba(58, 56, 56, 0.466);
		transition: background-color .3s;

		&:hover {
			background-color: $bright-blue-hover;
			cursor: pointer;
		}
	}
}
// ============
// CONTACT
// ============
.bg-contact {
	background-color: $very-dark-blue;
}
.contact {
	color: $light-grayish-blue;
	padding: 4em 0 0em 0;
	display: flex;
	flex-direction: column;
	margin-left: 4em;

	&__fylo {
		font-family: 'Open Sans', sans-serif;
		margin-left: 0;
		font-size: 1.4rem;
		.logo {
			width: 35%;
			margin-bottom: 2em;
		}
	}
	&__phone {
		padding-bottom: 1em;
		.phone-img {
			margin-right: 1em;
			width: 1.4rem;
		}
	}
	&__email {
		padding-bottom: 3em;
		.email-img {
			margin-right: 1em;
			width: 1.4rem;
		}
	}

	&__social-media {
		display: flex;
	}
	&__about-us {
		list-style: none;
		margin-bottom: 3em;
		font-size: 1.4rem;

		.list-one {
			padding-bottom: 1em;
		}
		.list-two {
			padding-bottom: 1em;
		}
		.list-one:hover,
		.list-two:hover {
			color: $bright-blue;
			cursor: pointer;
		}
		.list-one,
		.list-two{
			transition: color .3s;
		}
	}
	&__social-media-mobile {
		display: flex;
		justify-content: center;
		margin: none;
		.fa-brands {
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #fff;
			border-radius: 50%;
			font-size: 1.6rem;
			height: 2em;
			width: 2em;
			margin: 0 1em 6em 0;
			transition: color .3s;
			&:hover{
				color:  $bright-blue;
				cursor: pointer;
			}
		}
	}
	&__social-media-desktop {
		display: none;
	}
}

// ==================
// MEDIA
// ==================
@media (min-width: 375px) {
	nav {
		.link {
			font-size: 1.4rem;
		}
	}
}

@media (min-width: 576px) {
	.team {
		&__bg-color {
			margin-top: 4.5%;
		}
	}
	.opinion {
		display: block;
		width: 400px;
		height: 200px;
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	nav {
		.link {
			font-size: 2rem;
		}
		.logo{
			width: 15%;
		}
	}
	.header {
		&__form {
			display: flex;
		}
		&__btn {
			width: 55%;
			margin-left: 1em;
			padding: 1em;
		}
		&__input {
			padding: 1em 2em 1em 1em;
			margin-bottom: 0;
		}
		&__text {
			font-size: 2rem;
		}
		&__title {
			font-size: 3rem;
		}
	}
	.team {
		&__title {
			font-size: 2rem;
		}
		&__text {
			font-size: 1.6rem;
		}
		&__text2 {
			font-size: 1.6rem;
		}
		&__link {
			font-size: 1.6rem;
		}
	}
	.opinion {
		&__text {
			font-size: 1.4rem;
		}
		&__avatar {
			width: 5rem;
		}
		&__autor {
			font-size: 1.2rem;
		}
		&__profession {
			font-size: 1.1rem;
		}
	}
	.sign {
		&__form {
			flex-direction: row;
			justify-content: space-between;
			margin-top: 2em;
		}
		&__button {
			display: inline-block;
			margin-top: 0;
			width: 35%;
			border: 1px solid $bright-blue;
			cursor: pointer;
		}
		&__input {
			width: 60%;
		}
		&__title {
			font-size: 2.2rem;
		}
		&__text {
			font-size: 1.6rem;
		}
	}
	.contact {
		&__about-us {
			margin-left: 5em;
			font-size: 2rem;
		}
		&__fylo {
			font-size: 2.4rem;
			margin-left: 4.3em;
			.phone-img {
				width: 2.5rem;
			}
			.email-img {
				width: 2.5rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	nav {
		.link {
			font-size: 3rem;
		}
	}

	header {
		.wrapper {
			margin-top: 20em;
			display: flex;
			flex-direction: row-reverse;
		}

		.header {
			margin-top: 2%;
			width: 100%;
			text-align: left;

			&__logo {
				width: 15%;
			}

			&__img1 {
				width: 100%;
				margin-left: 0 auto;
			}
			&__title {
				font-size: 5rem;
			}
			&__text {
				font-size: 2.4rem;
			}
		}
	}

	.team {
		.ilustration2 {
			width: 90%;
			margin-top: 7em;
			margin-left: 4em;
			margin-right: auto;
		}
		.wrapper {
			display: flex;
			flex-direction: row-reverse;
		}

		&__box {
			margin-left: 7em;
			padding-top: 3em;
			width: 100%;
			text-align-last: left;
		}
		&__bg-curve {
			&::after {
				background-image: url('../images/bg-curve-desktop.svg');
			}
		}
		&__bg-color {
			padding-top: 0;
		}

		&__title {
			font-size: 4rem;
			text-align: left;
		}
		&__text,
		&__text2 {
			width: 80%;
		}
		&__text2 {
			padding-bottom: 1em;
		}
		&__link {
			margin-left: 0;
			transform: translateX(0);
		}
	}
	.opinion {
		margin-top: 4.5em;
	}
	.sign {
		&__container {
			display: flex;
		}
		&__text-box {
			text-align: left;
			width: 50%;
			margin: 6em 0 6em 3em;
		}
		&__title {
			font-size: 3rem;
		}
		&__form {
			margin-top: 12em;
			width: 50%;
			display: inline-block;
		}
		&__input {
			width: 80%;
			padding: 1.2em 10em 1.1em 1em;
			margin-left: 10%;

			&::placeholder {
				font-size: 1.3em;
			}
		}
		&__button {
			margin-top: 1em;
			display: block;
			margin-left: 10%;
		}
	}
	.contact {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		&__about-us {
			margin-left: 0 auto;
			margin-right: 0 auto;
		}
		&__social-media-desktop {
			display: flex;
			padding-top: 20em;
			margin-right: 3em;
			.fa-brands {
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid #fff;
				border-radius: 50%;
				font-size: 1.8rem;
				height: 2.5em;
				width: 2.5em;
				margin: 0 1em 6em 0;
				transition: color .3s;
				&:hover{
					color:  $bright-blue;
					cursor: pointer;
				}
			}
		}
		&__social-media-mobile {
			display: none;
		}
		&__about-us {
			padding-top: 10em;
		}
		.logo {
			margin-top: 4em;
			width: 70%;
		}
	}
}
